/*
  CSE183 Assignment 2

  CSS for Basic Requirement
*/

div {
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 40px;
  color: black;
  background-color: yellow;
  font-family: "Lucida Console", Courier, monospace;
}
